<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoldenPoint</title>
    <link rel="stylesheet" href="/static/css/new_style.css">
</head>

<body>
<form action="/golden_point/" method="post">
    {% csrf_token %}
    <label>
        价格点1:
        <input type="text" name="num1">
        <br/>
    </label>
    <label>
        价格点2:
        <input type="text" name="num2">
        <br/>
    </label>
    <input type="submit">
</form>

<div class="points" style="height: 200px; border: black">
    {# 价格点展示 #}
    <p>
        {{ points|linebreaksbr }}
    </p>
</div>


</body>
</html>