/* 基础样式 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* 浅灰色背景 */
    margin: 0;
    padding: 0;
}

h1 {
    /* 居中对齐 */
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* 表单样式 */
.form-group {
    width: 100%;
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
}

.form-group div {
    width: 100%; /* 子元素宽度占满容器 */
    text-align: center; /* 文字水平居中 */
}

input[type="text"] {
    width: calc(100% - 22px); /* 减去边框宽度 */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* 包含内边距和边框在宽度和高度之内 */
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* 数据列表样式 */
.data-list {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /*行间距*/
    line-height: 1.5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /*margin-top: 30px;*/
    width: 500px;
    margin: 30px auto auto;
}

.key-value-pair {
    margin-bottom: 3px;
}

.key {
    font-weight: bold;
    color: brown;
}

.value {
    color: green;
}

pre {
    font-size: 18px;
}
